.buttons {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    width: 200px;
    justify-content: center;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    background-color: #d988dd;
}