.mail-modal {
    display: flex;
    width: 3/5;
    height: 3/5;
    background-color:lavender;
    justify-content: center;
}

.mail-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d988dd;
    border-radius: 12px;
    cursor: pointer;
}