#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  --border-color: #e0e0e0;
  --shadow-color: #fac3fd;
  --secondary-color: #da86df; 
  --spacing-unit: 20px;
}

.about-me {
    padding: var(--spacing-unit);
    border-radius: 8px;
    border: 2px solid var(--border-color);
    box-shadow: 0 4px 6px var(--shadow-color);
    text-align: center;
  
}

.header {
  text-align: center;
  padding: calc(var(--spacing-unit) * 1.5) 0;

}

.intro,
.detail {
  margin-bottom: calc(var(--spacing-unit) * 0.75);
  color: var(--secondary-color);
}


/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
